/**
 * @file
 * Revolut payment form styles for the Commerce Revolut module.
 */

.revolut-form .payment-messages--error {
  color: #a51b00;
  border-width: 1px;
  border-color: #e62600;
  background-color: hsl(15, 75%, 97%);
  padding: 10px;
  font-weight: bold;
}
